<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swordy.demo.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 记住这个一要放在application外面，不然会出现配置错误 信息 -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for My App"
        android:targetPackage="com.swordy.demo.android" />

    <application
        android:name=".app.ThisApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 在本应用中导入需要使用的包，放在application里面activity外面 -->
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.swordy.demo.android.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RequestActivity1"
            android:label="Activity/RequestActivity" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ResultActivity1"
            android:label="Activity/ResultActivity" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.AlertDialog1"
            android:label="App/AlertDialog" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.Dialog2"
            android:label="App/Dialog" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.Service1"
            android:label="App/Service" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>

        <service android:name=".app.Service1$MyService1" >
        </service>

        <activity
            android:name=".fragment.Fragment1"
            android:label="Fragment/Fragment1" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.ViewPager1"
            android:label="Fragment/ViewPager" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.TabHost1"
            android:label="Fragment/TabHost" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.SlideTabs1"
            android:label="Fragment/SlideTabs1" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.SlideTabs2"
            android:label="Fragment/SlideTabs2" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.SlideTabs3"
            android:label="Fragment/SlideTabs3" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".drawable.LevelListDrawable1"
            android:label="Drawable/LevelListDrawable" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".io.Assets1"
            android:label="IO/Assets" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".io.Raw1"
            android:label="IO/Raw" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.Layout1"
            android:label="Layout/Layout1" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SurfaceView1"
            android:label="View/SurfaceView" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Text1"
            android:label="View/Text/Normal" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Text2"
            android:label="View/Text/Linkify" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Button1"
            android:label="View/Button" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ImageView1"
            android:label="View/ImageView" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.DragAndDrop1"
            android:label="View/DragAndDrop" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.DragAndDrop2"
            android:label="View/DragAndDrop(custome)" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ImageButton1"
            android:label="View/ImageButton" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CheckBox1"
            android:label="View/CheckBox" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.Animation1"
            android:label="Animation/AnimationDrawable" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.Animation2"
            android:label="Animation/Animations(from resources)" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.GridView1"
            android:label="Widget/GridView" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.GridView2"
            android:label="Widget/GridView(optimized by data)" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.GridView3"
            android:label="Widget/GridView(optimized by options)" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.VideoView1"
            android:label="Widget/VideoView" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.ListView1"
            android:label="Widget/ListView/ListActivity" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.ListPopupWindow1"
            android:label="Widget/Window/ListPopupWindow(API-11)" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.PopupWindow1"
            android:label="Widget/Window/PopupWindow" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.SlideTabPager1"
            android:label="Widget/SlideTabPager" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".data.SharedPreference1"
            android:label="Data/SharedPreference1" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".media.MediaPlayer1"
            android:label="Media/MediaPlayer" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".task.Thread1"
            android:label="Task/Thread" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".task.Thread2"
            android:label="Task/LooperThread" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".device.Wifilist1"
            android:label="Device/Wifi/List" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".library.app.SlideTabActivity1"
            android:label="Library/App/SlideTabActivity" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".library.widget.SeekBar1"
            android:label="Library/Widget/SeekBar" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".library.view.FlingDetector1"
            android:label="Library/View/FlingDetector" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".library.widget.CircleLayout1"
            android:label="Library/Widget/CircleLayout" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".library.widget.RegionButton1"
            android:label="Library/Widget/RegionButton" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".library.widget.NumberView1"
            android:label="Library/Widget/NumberView" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".library.widget.Switcher1"
            android:label="Library/Widget/Switcher" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".library.widget.CheckButton1"
            android:label="Library/Widget/CheckButton" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".library.widget.ListSelector1"
            android:label="Library/Widget/ListSelector" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".library.widget.CheckText1"
            android:label="Library/Widget/CheckText" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".library.util.DrawableUtil1"
            android:label="Library/Util/DrawableUtil" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".library.libs.image.BlurImage1"
            android:label="Library/Libs/Image/BlurImage" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".library3.VolleyTest1"
            android:label="Library3/VolleyTest" >
            <intent-filter>
                <action android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>