<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swordy.demo.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".library.view.SeekBar1"
            android:label="Library/View/SeekBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Text1"
            android:label="View/Text/Normal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Text2"
            android:label="View/Text/Linkify" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Button1"
            android:label="View/Button" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ImageView1"
            android:label="View/ImageView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.DragAndDrop1"
            android:label="View/DragAndDrop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.DragAndDrop2"
            android:label="View/DragAndDrop(custome &quot;DragShaowBuilder&quot;)" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ImageButton1"
            android:label="View/ImageButton" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.Animation1"
            android:label="Animation/AnimationDrawable" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.GridView1"
            android:label="Widget/GridView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.GridView2"
            android:label="Widget/GridView(optimize)" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.ListView1"
            android:label="Widget/ListView/ListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.swordy.demo.SIMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>